@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #181719;
  color: white;
  margin: 20px auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}


.main-content {
  width: 95%;
  margin: 30px auto;
  z-index: 0;
}

h1 {
  font-family: Lora;
  font-size: 36px;
  line-height: 46px;
  margin: 40px auto;
}

.material-icons {
  vertical-align: middle;
}

.about {
  font-family: Montserrat;
  width: 70%;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 40px;
}

.read-more-link {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: white;
}

.room-img {
  margin-top: 30px;
}

.designer-card {
  position: relative;
  width: 300px;
  height: 138px;
  left: 52px;
  top: -35px;
  background: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.designer-card--header {
  display: flex;
}

.designer-headshot {
  border-radius: 50%;
  width: 62.2px;
  height: 52.68px;
  margin-right: 10px;
}

.designer-info {
  flex: 0 0 75%;
}

.designer-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.designer-title {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #828282;
}

.about-design {
  font-family: Lora;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

footer {
  text-align: center;
  border-top: 1px solid #a9a9a9;
  padding: 10px;
  width: 90%;
  margin: auto;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
}

footer p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

@media only screen and (min-width: 1000px) {
  body {
    width: 1440px;
    margin: 20px auto;
  }

  .main-content {
    display: flex;
  }
  .photo {
    flex: 0 0 60%;
  }
  .about {
    font-size: 24px;
    line-height: 29px;
  }
  h1 {
    font-size: 48px;
    line-height: 61px;
  }
  .designer-card {
    width: 400px;
    height: 189px;
    left: 300px;
    top: -100px;
  }
  .about-design {
    font-size: 24px;
    line-height: 31px;
  }
  .designer-headshot {
    width: 80px;
    height: 75px;
    margin-right: 20px;
  }
  .designer-name {
    margin: 10px;
  }
  .about-design {
    margin-top: 15px;
  }
  footer {
    border-top: none;
  }
}
